// PREFIXE TEXT ALIGN 

.tac{
    text-align: center;
}
.sm-tac{
    text-align: center;
}
.md-tac{
    text-align: center;
}
.lg-tac{
    text-align: center;
}
.xl-tac{
    text-align: center;
}


// PREFIX FLEX
.d-flex{
    display: flex;
}
.sm-d-flex{
    display: flex;
}
.md-d-flex{
    display: flex;
}
.lg-d-flex{
    display: flex;
}
.xl-d-flex{
    display: flex;
}

// PREFIX FLEX COLUMN 
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.sm-d-flex{
    display: flex;
    flex-direction: column;
}
.md-d-flex{
    display: flex;
    flex-direction: column;
}
.lg-d-flex{
    display: flex;
    flex-direction: column;
}
.xl-d-flex{
    display: flex;
    flex-direction: column;
}



.showHide{
    display: none;
}

