.wrapper{
    max-width: 992px;
    height: 100%;
    background-image: url("../../images/background-landscape-1.png");
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}